body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: rgb(27, 42, 42);
    font-family:'Segoe UI', sans-serif;
    margin: 0;
}

.alan{
    height: auto;
    width: 350px;
    padding: 40px;
    background-color: rgb(114, 129, 129);
    border-radius: 15px;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

input{
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    border: none;
    box-sizing: border-box;
    font-size: 16px;
}

.secim-kutusu{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

select{
    width: 100%;
    padding: 15px;
    border-radius: 5px;
    border: none;
    font-size: 14px;
    cursor: pointer;
}

.result{
    font-size: 28px;
    font-weight: bold;
    color: #fff;
    margin: 10px 0;

}

button{
    width: 100%;
    padding: 12px;
    background-color: #16a085;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover{
    background-color: #1abc9c;
}
