body {
    font-family: 'Segoe UI', sans-serif;
    background-color: #2c3e50;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

h1 {
    margin-bottom: 5px;
}

/* Skor Tablosu */
.skor-tablosu {
    background-color: white;
    color: #333;
    padding: 10px 40px;
    border-radius: 30px;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 30px;
    display: flex;
    gap: 40px;
    /* Skorlar arası boşluk */
}

.oyuncu-badge {
    font-size: 14px;
    color: #777;
    display: block;
}

/* Oyun Alanı */
.arena {
    display: flex;
    gap: 50px;
    margin-bottom: 40px;
    align-items: center;
}

.kart {
    text-align: center;
}

.emoji-buyuk {
    font-size: 80px;
    background: rgba(255, 255, 255, 0.1);
    width: 150px;
    height: 150px;
    line-height: 150px;
    /* Dikey ortalama */
    border-radius: 50%;
    margin-bottom: 10px;
}

/* Seçim Butonları */
.butonlar {
    display: flex;
    gap: 20px;
}

button {
    background-color: #e74c3c;
    color: white;
    border: none;
    padding: 15px 30px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.2s;
    box-shadow: 0 5px 0 #c0392b;
    /* 3D efekt */
}

button:active {
    transform: translateY(5px);
    /* Basılma efekti */
    box-shadow: none;
}

button:hover {
    background-color: #ff5e4d;
}

#sonucYazisi {
    font-size: 30px;
    font-weight: bold;
    color: #f1c40f;
    height: 40px;
}